## Supplementary addresses that can be added in kubernetes ssl keys.
## That can be useful for example to setup a keepalived virtual IP
supplementary_addresses_in_ssl_keys: [{{ ','.join(supplementary_addresses_in_ssl_keys) }}]
